<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		{% load static %}
		<link href="{% static 'style.css' %}"  type="text/css" rel="stylesheet"> 
		<link href="{% static 'media-queries.css' %}"  type="text/css" rel="stylesheet"> 
		<title> Pending requests </title>
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				<div class="headerContent">
					<div class="logo"><a href="">Pending<span class="pink">Request</span><span class="gray">.com</span></a></div>
					<ul class="nav">
						<li><a href="{% url 'makeRequest' %}" class="active">Request</a></li>
						<li><a href="{% url 'login' %}">Login</a></li>
						<li><a href="{% url 'signup' %}">SignUp</a></li>
						<li><a href="#">About</a></li>

					</ul>
				</div>
			</div>
			<div class="content">
				<div class="leftCol">
					<ul class="leftNav">
						<li><a href="#">Example 1</a></li>
						<li><a href="#">Example 2</a></li>
						<li><a href="#">Example 3</a></li>
						<li><a href="#">Example 4</a></li>
					</ul>
					<div class="block">
						<h3>Left Block</h3>
						<p><i>Something about API </i></p>
						<p><a href="#" class="more">Read more »</a></p>
					</div>
				</div>
				
						{% block content %}
						{% endblock %}
				
			</div>
		</div>
		<script src="css3-mediaqueries.js"></script>
	</body>
</html>

<!--
{% if user.is_authenticated %}
  				Hi {{ user.username }}!
  				<a href="{% url 'logout' %}">Log Out</a></p>
			{% else %}
  				<p>You are not logged in
				<a href="{% url 'signup' %}">Sign Up</a>
				or  
				<a href="{% url 'login' %}">Log In</a><p>

			{% endif %}
			<a class="navbar-item" href="{% url 'makeRequest' %}"> Запросы </a><p>			
			-->